body{
    margin:0;
    padding: 0;
    position: relative;
    font-family: 'Lato', sans-serif,serif;
    background: rgba(0, 0, 0, 0.87)
}
form{
    position: relative;
}
form{
    display: table;
    border:2px solid #222;
    background: rgb(223, 223, 97);
    padding: 50px;
    border-radius : 10%;
    margin:  20%;
    position: absolute;
    top:0;
    margin-top: 10%;
    z-index: 2;
    width:50%;
    height:80%;
    padding : 40px;
    /*
    animation-name: drop;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-direction: normal;
    */
    text-align:center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h2{
    display: table-header-group;
    background:orangered;
    color: #ffff;
    width: 100%;
    padding: 10%;
    text-align:center;
}


form label{
    display: table-row;
}
form input {
    padding : 5%;
    width: 80%;
    display: table-column;
}

select{
    width: 90%;
    padding: 5%;
    text-align:center;
    display:table-column;

    
    border:none;
    
    font-size: 20px;
}
#button{
    border:none;
    background: orangered;
    color: #fff;
    padding: 20px;
    
    cursor: pointer;
    width: 90%;
}
#button:hover{
    background: red;
}
@keyframes drop{
    0%{transform : translateY(200px)}
    70%{transform : translateY(-200px)}
    100%{transform : translateY(20px)}
}